@import '../../variables';

// header styles

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: @fluid-quarter;
  padding: 0 @space-base;
  background-color: @gray-light;
  color: @light;
  text-align: center;
  align-items: center;
  justify-content: center;

  @media (min-width: @phone-width) {
    width: @full;
    padding: 0;
  }

  .statement {
    flex: none;
    width: @full;

    @media (min-width: @phone-width) {
      width: @three-quarters;
    }

    @media (min-width: @tablet-width) {
      width: @half;
    }
  }
}