@import 'variables';

// elements styles

// buttons

.button {
  cursor: pointer;
  margin: 0;
  padding: @space-base;
  border: @space-micro solid @gray-light;
  outline: 0;
  background-color: @light;
  color: @gray-light;
  text-align: center;
  text-decoration: none;
  transition: all @fast;

  &:hover,
  &:focus {
    background-color: @gray-light;
    color: @light;
    text-decoration: none;
  }

  &.primary {
    border-color: @primary-color;
    background-color: @primary-color;
    color: @light;

    &:hover,
    &:focus {
      border-color: @gray-light;
      background-color: @gray-light;
      color: @light;
    }
  }

  &.secondary {
    border-color: @secondary-color;
    background-color: @secondary-color;
    color: @light;

    &:hover,
    &:focus {
      border-color: @gray-light;
      background-color: @gray-light;
      color: @light;
    }
  }

  &.fluid {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }

  &.rounded {
    border-radius: @space-tiny;
  }

  &.icon {
    margin: 0;
    padding: @space-mini @space-tiny;
    border: 0;
    background-color: transparent;
    color: @icon-color;
    font-size: @font-size-base;

    &:hover,
    &:focus {
      color: @link-color;
    }
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  .button {
    flex: 1;
  }
}

.label {
  display: block;

  &.radio {
    cursor: pointer;
  }
}

.input {

  &.radio {
    margin: 0;
    margin-right: @space-tiny;
  }

  &.group {
    margin: @space-large 0 @space-huge;
  }
}

.module {
  position: relative;

  &.centered {
    display: flex;
    align-items: center;
    min-height: @fluid-half;
    justify-content: center;
    text-align: center;
  }
}